.header {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    /* margin-bottom: 5rem; */
  }
  
.header-left{
    width: 50%;
    /* background-color: red; */
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.header-right{
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.header-left h3{
    font-size: 1.2rem;
    color: var(--color-primary);
}

.header-left h2{
    font-size: 2rem;
    /* word-spacing: .5rem; */
    margin: 1rem auto;
    color: tomato;
}


.header-left-btn{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: var(--color-primary);
    font-weight: 700;
    color: white;
    cursor: pointer;
}





@media screen and (max-width: 1000px) {

    .header {
        min-height: 60vh;
        background-position: top;
        background-size: cover;
        padding: 4rem;
    }
      
    .header-left{
    }
    
    
    .header-right{

    }
    
    .header-left h3{
    }
    
    .header-left h2{
        font-size: 1.3rem;
        margin: .5rem auto;
    }
    
    
    .header-left-btn{
        padding: .8rem;
    }
    
  
  }

  @media screen and (max-width: 817px) {

    .header {
        min-height: 60vh;
        padding: 0rem;
        background-image: url(../img/doc.jpg);
    }
      
    .header-left{
        width: 100%;
        background-color: rgba(255, 255, 255, 0.201);
    }
    
    
    .header-right{
        display: none;
    }
    
    .header-left h3{
        font-size: 1rem;
        color: white;

    }
    
    .header-left h2{
        font-size: 1.5rem;
        margin: .5rem auto;
    }
    
    
    .header-left-btn{

    }
    
  
  }


  @media screen and (max-width: 600px) {

    .header {

    }
      
    .header-left{
       padding: 1rem;
    }
    
    
    .header-right{
        display: none;
    }
    
    .header-left h3{
        font-size: 1rem;
        color: white;

    }
    
    .header-left h2{
        font-size: 1rem;
        margin: .5rem auto;
    }
    
    
    .header-left-btn{

    }
    
  
  }